<div class="container-header">
    <nav class="nav">
        <img src="./assets/img/icon/logo-apple.svg" alt="" class="logo" />
        <ul>
            <li>
                <div class="nav-show">
                    <a href="#!" class="ch-hd-cl">Store</a>
                    <div class="show">
                        <div class="container-show">
                            <ul>
                                <li>
                                    <a href="#!">Shop</a>
                                </li>
                                <li>
                                    <a href="#!">Shop the Latest</a>
                                </li>
                                <li>
                                    <a href="#!">Mac</a>
                                </li>
                                <li>
                                    <a href="#!">iPad</a>
                                </li>
                                <li>
                                    <a href="#!">iPhone</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Watch</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Vision Pro</a>
                                </li>
                                <li>
                                    <a href="#!">Accessories</a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">Quick Links</a>
                                </li>
                                <li>
                                    <a href="#!">Find a Store</a>
                                </li>
                                <li>
                                    <a href="#!">Order Status</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Trade In</a>
                                </li>
                                <li>
                                    <a href="#!">Financing</a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">Shop Special Store</a>
                                </li>
                                <li>
                                    <a href="#!">Certified Refurbished</a>
                                </li>
                                <li>
                                    <a href="#!">Education</a>
                                </li>
                                <li>
                                    <a href="#!">Business</a>
                                </li>
                                <li>
                                    <a href="#!">Veterans and Military</a>
                                </li>
                                <li>
                                    <a href="#!">Government</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="nav-show">
                    <a href="#!" class="ch-hd-cl">Mac</a>
                    <div class="show">
                        <div class="container-show">
                            <ul>
                                <li>
                                    <a href="#!">Explore Mac</a>
                                </li>
                                <li>
                                    <a href="#!">MacBook Air</a>
                                </li>
                                <li>
                                    <a href="#!">MacBook Pro</a>
                                </li>
                                <li>
                                    <a href="#!">iMac</a>
                                </li>
                                <li>
                                    <a href="#!">Mac mini</a>
                                </li>
                                <li>
                                    <a href="#!">Mac Studio</a>
                                </li>
                                <li>
                                    <a href="#!">Mac PRo</a>
                                </li>
                                <li>
                                    <a href="#!">Displays</a>
                                </li>
                                <li>
                                    <a
                                        href="#!"
                                        class="last-container-show"
                                        style="
                                            font-size: 1.3rem;
                                            font-weight: 400;
                                        "
                                        >Compare Mac</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#!"
                                        class="last-container-show"
                                        style="
                                            font-size: 1.3rem;
                                            font-weight: 400;
                                        "
                                        >Mac Does That</a
                                    >
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">Shop Mac</a>
                                </li>
                                <li>
                                    <a href="#!">Shop Mac</a>
                                </li>
                                <li>
                                    <a href="#!">Mac Accessories</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Trade In</a>
                                </li>
                                <li>
                                    <a href="#!">Financing</a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">More from Mac</a>
                                </li>
                                <li>
                                    <a href="#!">Mac Support</a>
                                </li>
                                <li>
                                    <a href="#!">AppleCare+ for Mac</a>
                                </li>
                                <li>
                                    <a href="#!">macOS Sequoia Preview</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Intelligence</a>
                                </li>
                                <li>
                                    <a href="#!">Apps by Apple</a>
                                </li>

                                <li>
                                    <a href="#!">Continuity</a>
                                </li>

                                <li>
                                    <a href="#!">iCloud+</a>
                                </li>

                                <li>
                                    <a href="#!">Mac for Business</a>
                                </li>

                                <li>
                                    <a href="#!">Education</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="nav-show">
                    <a href="#!" class="ch-hd-cl">iPad</a>
                    <div class="show">
                        <div class="container-show">
                            <ul>
                                <li>
                                    <a href="#!">Explore iPad</a>
                                </li>
                                <li>
                                    <a href="#!">Explore All iPad</a>
                                </li>
                                <li>
                                    <a href="#!">iPad Pro</a>
                                </li>
                                <li>
                                    <a href="#!">iPad Air</a>
                                </li>
                                <li>
                                    <a href="#!">iPad</a>
                                </li>
                                <li>
                                    <a href="#!">iPad mini</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Pencil</a>
                                </li>
                                <li>
                                    <a href="#!">Keyboards</a>
                                </li>
                                <li>
                                    <a
                                        href="#!"
                                        class="last-container-show"
                                        style="
                                            font-size: 1.3rem;
                                            font-weight: 400;
                                        "
                                        >Compare iPad</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#!"
                                        class="last-container-show"
                                        style="
                                            font-size: 1.3rem;
                                            font-weight: 400;
                                        "
                                        >Why iPad</a
                                    >
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">Shop iPad</a>
                                </li>
                                <li>
                                    <a href="#!">Shop iPad</a>
                                </li>
                                <li>
                                    <a href="#!">iPad Accessories</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Trade In</a>
                                </li>
                                <li>
                                    <a href="#!">Financing</a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">More from iPad</a>
                                </li>
                                <li>
                                    <a href="#!">iPad Support</a>
                                </li>
                                <li>
                                    <a href="#!">AppleCare+ for iPad</a>
                                </li>
                                <li>
                                    <a href="#!">iPadOS 18 Preview</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Intelligence</a>
                                </li>
                                <li>
                                    <a href="#!">Apple by Apple</a>
                                </li>
                                <li>
                                    <a href="#!">iCloud+</a>
                                </li>
                                <li>
                                    <a href="#!">Education</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="nav-show">
                    <a href="#!" class="ch-hd-cl">iPhone</a>
                    <div class="show">
                        <div class="container-show">
                            <ul>
                                <li>
                                    <a href="#!">Explore iPhone</a>
                                </li>
                                <li>
                                    <a href="#!">Explore All iPhone</a>
                                </li>
                                <li>
                                    <a href="#!">iPhone 15 Pro</a>
                                </li>
                                <li>
                                    <a href="#!">iPhone 15</a>
                                </li>
                                <li>
                                    <a href="#!">iPhone14</a>
                                </li>
                                <li>
                                    <a href="#!">iPhone 13</a>
                                </li>
                                <li>
                                    <a href="#!">iPhone SE</a>
                                </li>
                                <li>
                                    <a
                                        href="#!"
                                        class="last-container-show"
                                        style="
                                            font-size: 1.3rem;
                                            font-weight: 400;
                                        "
                                        >Compare iPhone</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#!"
                                        class="last-container-show"
                                        style="
                                            font-size: 1.3rem;
                                            font-weight: 400;
                                        "
                                        >Switch from Android</a
                                    >
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">Shop iPhone</a>
                                </li>
                                <li>
                                    <a href="#!">Shop iPhone</a>
                                </li>
                                <li>
                                    <a href="#!">iPhone Accessories</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Trade In</a>
                                </li>
                                <li>
                                    <a href="#!">Carrier Deals at Apple</a>
                                </li>
                                <li>
                                    <a href="#!">Financing</a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">More from iPhone</a>
                                </li>
                                <li>
                                    <a href="#!">iPhone Support</a>
                                </li>
                                <li>
                                    <a href="#!">AppleCare+ for iPhone</a>
                                </li>
                                <li>
                                    <a href="#!">iOS 18 Preview</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Intelligence</a>
                                </li>
                                <li>
                                    <a href="#!">Apple by Apple</a>
                                </li>
                                <li>
                                    <a href="#!">iPhone Privacy</a>
                                </li>
                                <li>
                                    <a href="#!">iCloud+</a>
                                </li>
                                <li>
                                    <a href="#!">Wallet, Pay, Card</a>
                                </li>
                                <li>
                                    <a href="#!">Siri</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="nav-show">
                    <a href="#!" class="ch-hd-cl">Watch</a>
                    <div class="show">
                        <div class="container-show">
                            <ul>
                                <li>
                                    <a href="#!">Explore Watch</a>
                                </li>
                                <li>
                                    <a href="#!">Explore All Apple Watch</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Watch Series 9</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Watch Ultra 2</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Watch SE</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Watch Nike</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Watch Hermès</a>
                                </li>
                                <li>
                                    <a
                                        href="#!"
                                        class="last-container-show"
                                        style="
                                            font-size: 1.3rem;
                                            font-weight: 400;
                                        "
                                        >Compare Watch</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#!"
                                        class="last-container-show"
                                        style="
                                            font-size: 1.3rem;
                                            font-weight: 400;
                                        "
                                        >Why Apple Watch</a
                                    >
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">Shop Watch</a>
                                </li>
                                <li>
                                    <a href="#!">Shop Apple Watch</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Watch Studio</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Watch Bands</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Watch Accessories</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Trade In</a>
                                </li>
                                <li>
                                    <a href="#!">Financing</a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">More from Watch</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Watch Support</a>
                                </li>
                                <li>
                                    <a href="#!">AppleCare+</a>
                                </li>
                                <li>
                                    <a href="#!">watchOS 11 Preview</a>
                                </li>
                                <li>
                                    <a href="#!">Apps by Apple</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Fitness+</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="nav-show">
                    <a href="#!" class="ch-hd-cl">Vision</a>
                    <div class="show">
                        <div class="container-show">
                            <ul>
                                <li>
                                    <a href="#!">Explore Vision</a>
                                </li>
                                <li>
                                    <a href="#!">Explore Apple Vision Pro</a>
                                </li>
                                <li>
                                    <a
                                        href="#!"
                                        class="last-container-show"
                                        style="
                                            font-size: 1.3rem;
                                            font-weight: 400;
                                        "
                                        >Guided Tour</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#!"
                                        class="last-container-show"
                                        style="
                                            font-size: 1.3rem;
                                            font-weight: 400;
                                        "
                                        >Tech Specs</a
                                    >
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">Shop Vision</a>
                                </li>
                                <li>
                                    <a href="#!">Shop Apple Vision Pro</a>
                                </li>
                                <li>
                                    <a href="#!"
                                        >Apple Vision Pro Accessories</a
                                    >
                                </li>
                                <li>
                                    <a href="#!">Book a Demo</a>
                                </li>
                                <li>
                                    <a href="#!">Financing</a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">More from Vision</a>
                                </li>
                                <li>
                                    <a href="#!"> Apple Vision Pro Support</a>
                                </li>
                                <li>
                                    <a href="#!">AppleCare+</a>
                                </li>
                                <li>
                                    <a href="#!">visionOS 2 Preview</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="nav-show">
                    <a href="#!" class="ch-hd-cl">AirPods</a>
                    <div class="show">
                        <div class="container-show">
                            <ul>
                                <li>
                                    <a href="#!">Explore AirPods</a>
                                </li>
                                <li>
                                    <a href="#!">Explore All AirPods</a>
                                </li>
                                <li>
                                    <a href="#!">AirPods Pro 2nd generation</a>
                                </li>
                                <li>
                                    <a href="#!">AirPods 2nd generation</a>
                                </li>
                                <li>
                                    <a href="#!">AirPods 3nd generation</a>
                                </li>
                                <li>
                                    <a href="#!">AirPods Max</a>
                                </li>
                                <li>
                                    <a
                                        href="#!"
                                        class="last-container-show"
                                        style="
                                            font-size: 1.3rem;
                                            font-weight: 400;
                                        "
                                        >Compare AirPods</a
                                    >
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">Shop AirPods</a>
                                </li>
                                <li>
                                    <a href="#!">Shop AirPods</a>
                                </li>
                                <li>
                                    <a href="#!">AirPods Accessories</a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">More from AirPods</a>
                                </li>
                                <li>
                                    <a href="#!">AirPods Support</a>
                                </li>
                                <li>
                                    <a href="#!">AppleCare+ for Headphones</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Music</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="nav-show">
                    <a href="#!" class="ch-hd-cl">TV & Home</a>
                    <div class="show">
                        <div class="container-show">
                            <ul>
                                <li>
                                    <a href="#!">Explore TV & Home</a>
                                </li>
                                <li>
                                    <a href="#!">Explore TV & Home</a>
                                </li>
                                <li>
                                    <a href="#!">Apple TV 4K</a>
                                </li>
                                <li>
                                    <a href="#!">HomePod</a>
                                </li>
                                <li>
                                    <a href="#!">HomePod mini</a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">Shop TV & Home</a>
                                </li>
                                <li>
                                    <a href="#!">Shop Apple 4K</a>
                                </li>
                                <li>
                                    <a href="#!">Shop HomePod</a>
                                </li>
                                <li>
                                    <a href="#!">Shop HomePod mini</a>
                                </li>
                                <li>
                                    <a href="#!">Shop Siri Remote</a>
                                </li>
                                <li>
                                    <a href="#!">TV & Home Accessories</a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">More from TV & Home</a>
                                </li>
                                <li>
                                    <a href="#!">Apple TV Support</a>
                                </li>
                                <li>
                                    <a href="#!">HomePod Support</a>
                                </li>
                                <li>
                                    <a href="#!">AppleCare+</a>
                                </li>
                                <li>
                                    <a href="#!">Apple TV app</a>
                                </li>
                                <li>
                                    <a href="#!">Apple TV+</a>
                                </li>
                                <li>
                                    <a href="#!">Home app</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Music</a>
                                </li>
                                <li>
                                    <a href="#!">Siri</a>
                                </li>
                                <li>
                                    <a href="#!">AirPlay</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="nav-show">
                    <a href="#!" class="ch-hd-cl">Entertainment</a>
                    <div class="show">
                        <div class="container-show">
                            <ul>
                                <li>
                                    <a href="#!">Explore Entertainment</a>
                                </li>
                                <li>
                                    <a href="#!">Explore Entertainment</a>
                                </li>
                                <li>
                                    <a href="#!">Apple One</a>
                                </li>
                                <li>
                                    <a href="#!">Apple TV+</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Music</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Arcade</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Fitness</a>
                                </li>
                                <li>
                                    <a href="#!">Apple News+</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Podcasts</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Books</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Store</a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">Support</a>
                                </li>
                                <li>
                                    <a href="#!">Apple TV+ Support</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Music Support</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="nav-show">
                    <a href="../accessories.html" class="ch-hd-cl"
                        >Accessories</a
                    >
                    <div class="show">
                        <div class="container-show">
                            <ul>
                                <li>
                                    <a href="#!">Shop Accessories</a>
                                </li>
                                <li>
                                    <a href="#!">Mac</a>
                                </li>
                                <li>
                                    <a href="#!">iPad</a>
                                </li>
                                <li>
                                    <a href="#!"> Apple Watch</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Vision Pro</a>
                                </li>
                                <li>
                                    <a href="#!">TV & Home</a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">Explore Accessories</a>
                                </li>
                                <li>
                                    <a href="#!">Made by Apple</a>
                                </li>
                                <li>
                                    <a href="#!">Beats by Dr.Dre</a>
                                </li>
                                <li>
                                    <a href="#!">AirTag</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li id="li">
                <div class="nav-show">
                    <a href="../index.html" class="ch-hd-cl">Support</a>
                    <div class="show">
                        <div class="container-show">
                            <ul>
                                <li>
                                    <a href="#!">Explore Support</a>
                                </li>
                                <li>
                                    <a href="#!">iPhone</a>
                                </li>
                                <li>
                                    <a href="#!">Mac</a>
                                </li>
                                <li>
                                    <a href="#!">iPad</a>
                                </li>
                                <li>
                                    <a href="#!">Watch</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Vision Pro</a>
                                </li>
                                <li>
                                    <a href="#!">AirPods</a>
                                </li>
                                <li>
                                    <a href="#!">Music</a>
                                </li>
                                <li>
                                    <a href="#!">TV</a>
                                </li>
                                <li>
                                    <a
                                        href="#!"
                                        class="last-container-show"
                                        style="
                                            font-size: 1.3rem;
                                            font-weight: 400;
                                        "
                                        >Explore Support</a
                                    >
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">Get Help</a>
                                </li>
                                <li>
                                    <a href="#!">Community</a>
                                </li>
                                <li>
                                    <a href="#!">Check Coverage</a>
                                </li>
                                <li>
                                    <a href="#!">Repair</a>
                                </li>
                                <li>
                                    <a href="#!">Contact Us</a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="#!">Helpful Topics</a>
                                </li>
                                <li>
                                    <a href="#!">Get AppleCare+</a>
                                </li>
                                <li>
                                    <a href="#!">Apple ID & Password</a>
                                </li>
                                <li>
                                    <a href="#!">Billing & Subscriptions</a>
                                </li>
                                <li>
                                    <a href="#!">Find My</a>
                                </li>
                                <li>
                                    <a href="#!">Accessibility</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <img src="./assets/img/icon/search.svg" alt="" class="icon-search" />
        <img src="./assets/img/icon/bagvg.svg" alt="" class="icon-bag" />
    </nav>
</div>
